<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dairy Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
         <div>class="container"
         <div>class="row"
         <h1>Product Details</h1>
         </div>
             <table class ="table table-striped table-bordered">
                 <thead class = "table-dark">
                 <tr>
                     <th> Product id</th>
                     <th> Product PCode</th>
                     <th> Product PName</th>
                     <th> Product Prod_type</th>
                     <th> Product PStDate</th>
                     <th> Product PEndDate</th>
                     <th> Product unitRate</th>
                     <th> Product qtyFrom</th>
                     <th> Product qtyTo</th>
                     <th> Product active</th>
                     <th> Product remove</th>
                     <th> Product sourceData</th>
                     <th> Product prodLabel</th>
                     <th> Product milkUnits</th>
                     <th> Product splCustCode</th>
                     <th> Product cont</th>
                     <th> Product UOM</th>
                     <th> Product HSN</th>
                     <th> Product prodQ</th>
                     <th> Product qtyL</th>
                     <th>gstPercent</th>
                     <th>GStDate</th>
                     <th>GEndDate</th>

                     <th> Actions </th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr th:each = "productMaster": ${products}">
                     <td th:text = "${productMaster.id}"></td>
                     <td th:text = "${productMaster.PCode}"></td>
                     <td th:text = "${productMaster.PName}"></td>
                     <td th:text = "${productMaster.Prod_type}"></td>
                     <td th:text = "${productMaster.PStDate}"></td>
                     <td th:text = "${productMaster.PEndDate}"></td>
                     <td th:text = "${productMaster.unitRate}"></td>
                     <td th:text = "${productMaster.qtyFrom}"></td>
                     <td th:text = "${productMaster.qtyTo}"></td>
                     <td th:text = "${productMaster.active}"></td>
                     <td th:text = "${productMaster.remove}"></td>
                     <td th:text = "${productMaster.sourceData}"></td>
                     <td th:text = "${productMaster.prodLabel}"></td>
                     <td th:text = "${productMaster.milkUnits}"></td>
                     <td th:text = "${productMaster.splCustCode}"></td>
                     <td th:text = "${productMaster.cont}"></td>
                     <td th:text = "${productMaster.UOM}"></td>
                     <td th:text = "${productMaster.HSN}"></td>
                     <td th:text = "${productMaster.prodQ}"></td>
                     <td th:text = "${productMaster.qtyL}"></td>
                     <td th:text = "${productMaster.gstPercent}"></td>
                     <td th:text = "${productMaster.GStdate}"></td>
                     <td th:text = "${productMaster.GEndDate}"></td>

                 </tr>
                 </tbody>

             </table>
         </div>

</body>
</html>